

@mixin button-style {
    padding: 0 1rem; 
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
}

.container{
    text-align: center;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;    

    &__title{
        color: rgb(120, 120, 120);
        font-size: 3rem;
    }
}


.main{   
    background: rgb(240, 239, 239);
    max-width: 30vw;
    margin: 5rem auto;
    border: 1px solid;
    box-shadow: 0rem 0rem 2rem 0.2rem black;
}

.user__image{
    margin: 1rem;
    img{
        height: 10rem;
        width: 10rem;
        border-radius: 20rem;
    }
}
.user__details{
    width: 100%;
    padding: 1rem;
    display: grid;
    gap: 2rem;
    
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: rem;
    }
}

.user__button{
   
    width: 100%;
    padding: 1rem;
   

    button{
       
        @include button-style();

        &:hover{
           color: black;
           font-size: 15px;
        }
    }


}
.user__surprise{

     width: 100%;
    padding: 1rem;

    button{
        @include button-style();
        border: 1px solid black;
        color: black;

        &:hover{
            color:white;
            background: black;
           transition: ease-in-out 0.5s;
         }
    }
}